@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-orange-500: #f97316;
  --color-slate-950: #020617;
}

@layer base {
  html.dark body {
    background-color: #020617;
    color: white;
  }

  body {
    background-color: white;
    color: #0f172a;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}